###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/docker/postgres/data/
!/docker/postgres/data/.gitignore
###< docker ###

###> sqitch ###
/sqitch/sqitch.conf
###< docker ###
